<meta charset="utf-8">
<title>Weather App</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>